/* css styles */
.sidebar {
    background-color: #f4f4f4; /* Light grey background */
    padding: 15px; /* Add padding around the content */
    width: 250px; /* Set a fixed width for the sidebar */
    border-right: 1px solid #000000; /* Add a border to the right of the sidebar */
  }
  
  /* Style for the sidebar links */
.sidebar a {
    color: #000000; /* Dark grey text color */
    text-decoration: none; /* Remove underline from links */
    display: block; /* Make each link a block-level element */
    padding: 10px 15px; /* Add padding inside each link */
    border-radius: 4px; /* Rounded corners for the links */
  }
/* Parent and child styling*/
.sidebar .parent {
    font-weight: bold; /* Make parent items bold */
    font-size: 2em; /* Slightly increase the font size */
  }
  
  /* Style for child menu items */
.sidebar .child {
    font-weight: normal; /* Keep child items normal */
    font-size: 1em; /* Regular font size */
    padding-left: 30px; /* Indent child items */
  }
  
  /* Change color of sidebar links on hover */
.sidebar a:hover {
    background-color: #bebec7; /* Light grey background on hover */
  }
  
  /* Style for the active sidebar link */
.sidebar a.active {
   
    color: #3670a0; /* White text color for the active link */
    font-weight: bold; /* Bold text for the active link */
  }

  /* Change text color for active links */
.nav-link.active, /* If the active class is used directly */
.navbar .nav-link.active { /* If the active class is used in a navbar context */
  color: #ffdb0c !important; /* New text color for active links */
}
.nav-link.active {
    color: #ffdb0c !important; /* Example: yellow text color for active links */
  }
  
  /* Optional: Customize hover state if needed */
.nav-link:hover {
    color: #ffdb0c; /* Example: yellow text color on hover */
  }



  